/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

html,
body {
  margin: 0;
}

/* CSS Variables */
:root {
  --primary-color: #ffa500;

  --text01-color: #ffffff;
  --text02-color: #151515;
  --text03-color: #4f4d4d;
  --text04-color: #666666;

  --stroke01-color: #f2f2f2;
  --stroke02-color: #ececec;

  --bg01-color: #ffffff;
  --bg02-color: #151515;
  --bg03-color: #232323;
}

/* Start Repeated Styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-gap {
  margin: 120px auto;
}

.primary-color {
  color: var(--primary-color);
}

.text01-color {
  color: var(--text01-color);
}

.text02-color {
  color: var(--text02-color);
}

.text03-color {
  color: var(--text03-color);
}

.block {
  display: block;
}

.btn {
  background-color: var(--primary-color);
  color: var(--text01-color);
  border-style: solid;
  border-color: #000;
  border-width: 0 3px 3px 0;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
}

/* End Repeated Styles */

/* Header Start here */

#header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 165, 0, 0.1) 100%);
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}

#nav-right-div {
  display: flex;
  align-items: center;
  gap: 48px;
}

#navLink-div {
  word-spacing: 32px;
  color: var(--text03-color);
}

#navlink-services {
  font-weight: 500;
}

/* Banner */
#banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px 200px;
  position: relative;
}

#banner-amazon-div {
  display: flex;
  line-height: 26px;
  letter-spacing: -2%;
  gap: 8px;
}

#banner-heading {
  font-weight: 600;
  text-align: center;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2%;
  margin-bottom: 48px;
}

/* Total incomes div */

#total-incomes-card {
  position: absolute;
  width: 227px;
  height: 177px;
  padding: 16px;
  background: var(--bg01-color);
  border: 1px solid var(--stroke02-color);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  left: -80px;
  top: 220px;
  transform: rotate(-16deg);

  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.08);
}

/* bars row */
#total-incomes-card .bars {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: flex-end; /* bottom aligned bars */
  flex: 1;
}

#total-incomes-card h4 {
  font-size: 18px;
}

#total-incomes-card .months {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 12px;
  color: #999;
}

#total-incomes-card .months span {
  width: 19px;
  text-align: center;
  display: inline-block;
  font-size: 8px;
}

.jan {
  height: 59px;
  width: 19px;
  background-color: var(--stroke01-color);
  border-radius: 16px;
}
.feb {
  height: 80px;
  width: 19px;
  background-color: var(--stroke01-color);
  border-radius: 16px;
}
.mar {
  height: 62px;
  width: 19px;
  background-color: var(--stroke01-color);
  border-radius: 16px;
}
.apr {
  height: 80px;
  width: 19px;
  background-color: var(--primary-color);
  border-radius: 16px;
}
.may {
  height: 34px;
  width: 19px;
  background-color: var(--stroke01-color);
  border-radius: 16px;
}
.jun {
  height: 90px;
  width: 19px;
  background-color: var(--stroke01-color);
  border-radius: 16px;
}

/* 45+ users card  */

#users-card-banner {
  width: 236px;
  height: 84px;
  right: -80px;
  top: 220px;
  transform: rotate(16deg);
  background: var(--bg01-color);
  border: 1px solid var(--stroke02-color);
  border-radius: 16px;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;

  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.08);
}

#avatars {
  display: flex;
  align-items: center;
}

#avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-left: -12px;
  border: 2px solid var(--bg01-color);
}

#avatars figure:first-child {
  margin-left: 0px;
}

#avatars-card-text {
  text-align: center;
}

#avatars-card-text p:first-child {
  font-weight: 600;
  font-size: 20px;
}

#avatars-card-text p i {
  color: var(--primary-color);
}

#avatars-card-text p:last-child {
  font-weight: 500;
  font-size: 14px;
  color: var(--text04-color);
}

/* Header End here */

/* main Start here */

/* Statistics section */
#statistics-section {
  padding: 60px 0;
  text-align: center;
}

#statistics-section p:first-child {
  color: var(--text02-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
}

#statistics-card-div {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.statistics-card {
  width: 282px;
  padding: 32px 16px;
  border: 1px solid var(--stroke02-color);
  border-radius: 16px;
}

.statistics-card p:first-child {
  color: var(--text02-color);
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -2%;
  margin-bottom: 12px;
}

.statistics-card p:last-child {
  color: var(--text03-color);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
}

/* Our story */
#out-story-section {
  padding: 40px 120px 100px;
  text-align: center;
}

.our-story-title {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.our-story-title p {
  line-height: 26px;
  letter-spacing: -2%;
}

#out-story-section h5 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2%;
  margin: 16px 0;
}

#out-story-section .out-story-paragraph {
  max-width: 552px;
  margin: auto;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 40px;
}

/* Why choose us */
#why-choose-us-section {
  background-color: var(--bg02-color);
  padding: 100px 12px;
  margin-bottom: 100px;
}

#why-choose-us-parent-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

/* choose us left div */
.choose-us-left-div {
  flex: 1;
  color: var(--text01-color);
}

.choose-us-title {
  display: flex;
  gap: 8px;
}

.choose-us-left-div h5 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -2%;
  margin: 12px 0 16px;
  font-weight: 600;
}

.choose-us-left-div p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 40px;
}

.choose-us-btn {
  border-color: var(--stroke02-color);
}

/* choose us right div */
.choose-us-right-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  position: relative;
}

.choose-us-right-div {
  flex: 1;
  margin-right: -60px;
}

#logo-arc {
  display: flex;
  margin-right: -100px;
}

#logo-arc img:first-child {
  width: 280px;
  height: auto;
  display: block;
}

#logo-arc img:nth-child(2) {
  margin-left: -50px;
  transform: rotate(4deg);
  position: relative;
}

#logo-arc img:nth-child(3) {
  margin-left: -186px;
  transform: rotate(4deg);
  position: relative;
}

.right-div-cards-parent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.choose-us-card {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--bg03-color);
  padding: 16px 20px;
  font-size: 18px;
  color: var(--text01-color);
  border-radius: 16px;
}

.right-div-cards-parent div:first-child {
  width: 195px;
  position: relative;
  left: -50px;
}

.right-div-cards-parent div:nth-child(2) {
  width: 215px;
  position: relative;
  left: -30px;
}

.right-div-cards-parent div:nth-child(3) {
  width: 198px;
  position: relative;
  left: -30px;
}

.right-div-cards-parent div:last-child {
  width: 230px;
  position: relative;
  left: -80px;
}

.choose-us-card figure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff12;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.choose-us-card figure img {
  width: 24px;
  height: 24px;
}
/* main End here */
